name: Audit

on:
  push:
    branches:
      - main
      - master

jobs:
  precommit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout HolaMundo Repo
      uses: actions/checkout@v2
      with:
        repository: jfr89/holamundo
        ref: main
        
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Run Custom Python Application
      run: python main.py
